<div class="page" data-page="recorrido4">
    <div class="navbar navbar-custom">
        <div class="navbar-inner">
            <div class="left">                
                <a href="#" class="back link"> <i class="icon icon-back"></i> <span>Atras</span> </a>
            </div>
            <div class="right">
                <a href="#" class="link">ShowRoom</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block">                                                                     
        </div>
    </div>
</div>      