<div class="page" data-page="ecoinfo">
    <div class="navbar navbar-custom">
        <div class="navbar-inner">
            <div class="left">                
                <a href="#" class="back link"> <i class="icon icon-back"></i> <span>Atras</span> </a>
            </div>
            <div class="right">
                <a href="#" class="link">Eco Info</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block">                                                                                 

            <div class="pull-to-refresh-layer">
              <div class="preloader"></div>                      
            </div>                          

            <div id="content-wrap"></div>              

            
            <script id="random-template" type="text/template7">

              <div class="row">
                {{#each data}}                                      
                  <div class="col-100" style='margin-top: 20px;'>
                    <a href="#" class="item-link item-content" id='pb-popup-{{id}}' >
                      <div style="background-image:url('{{ruta}}'); height: 40vw; background-size: cover; background-position: center;" valign="bottom" class="card-header color-white no-border">
                        <p style="background-color: #1aa772; padding: 5px; border-radius: 10px;"> {{nombre}} </p>
                      </div>
                    </a>
                  </div>                                                          
                {{/each}} 
              </div>
              
            </script>                            
            
        </div>
    </div>
</div> 