<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->            

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Atras</span>
            </a>
        </div>
        <div class="center sliding">Lotes Libres</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">    
    <div data-page="lotes" class="page">
        <div class="page-content" style="background:url('img/lotes/mapas.jpg');background-size: 100%;background-repeat: no-repeat;overflow: scroll; margin-top:55px;">                        
            <div class="content-block" style="margin-top: 71px;">  
                                                            						
            </div>
        </div>
    </div>
</div>
