<div class="page" data-page="monitoreo">
    <div class="navbar navbar-custom">
        <div class="navbar-inner">
            <div class="left">                
                <a href="#" class="back link"> <i class="icon icon-back"></i> <span>Atras</span> </a>
            </div>
            <div class="right">
                <a href="#" class="link">Monitoreo</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block">                                                                     
            

                <object 
                 classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"  
                 codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab" 
                 id="vlc" 
                 name="vlc" 
                 class="vlcPlayer" 
                 events="True"> 
                  <param name="Src" value="rtsp://admin:admin@ecopueblo.dahuaddns.com/cam/realmonitor?channel=1&subtype=1" /> <!-- ie --> 
                  <param name="ShowDisplay" value="True" /> 
                  <param name="AutoLoop" value="True" /> 
                  <param name="AutoPlay" value="True" /> 
                  <!-- win chrome and firefox--> 
                  <embed id="vlcEmb"  type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="640" height="480" target="rtsp://admin:admin@98.189.113.44:554/cam/realmonitor?channel=1&subtype=0" ></embed> 
                </object>

                
            
        </div>
    </div>
</div> 