<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->            

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Atras</span>
            </a>
        </div>
        <div class="left sliding">Recorridos</div>
        <div class="right">
            <!--<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>-->
        </div>
    </div>
</div>
<div class="pages">    
    <div data-page="recorridos" class="page">
        <div class="page-content">
            <div class="content-block" style="margin-top: 71px;">
                <div class="content-block-title">Recorridos 360</div>
                <div class="list-block inset">
                    <ul>
                        <li>
                            <a href="view/360/recorrido1.html" class="item-link item-content">
                                <div class="item-media"><img src="img/360/thumbnail/01.png" width="100" style="border-radius: 50px;"></div>
                                <div class="item-inner" style="margin-top: 0px;">
                                    <div class="item-title-row">
                                        <div class="item-title">Eco Pano</div>
                                    </div>
                                    <div class="item-subtitle"></div>
                                </div>
                            </a>
                        </li>   
                                        
                        <li>
                            <a href="view/360/recorrido2.html" class="item-link item-content">
                                <div class="item-media"><img src="img/360/thumbnail/02.png" width="100" style="border-radius: 50px;"></div>
                                <div class="item-inner" style="margin-top: 0px;">
                                    <div class="item-title-row">
                                        <div class="item-title">Plaza Central</div>
                                    </div>
                                    <div class="item-subtitle"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="view/360/recorrido3.html" class="item-link item-content">
                                <div class="item-media"><img src="img/360/thumbnail/03.png" width="100" style="border-radius: 50px;"></div>
                                <div class="item-inner" style="margin-top: 0px;">
                                    <div class="item-title-row">
                                        <div class="item-title">Plaza Frutal</div>
                                    </div>
                                    <div class="item-subtitle"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="view/360/recorrido4.html" class="item-link item-content">
                                <div class="item-media"><img src="img/360/thumbnail/04.png" width="100" style="border-radius: 50px;"></div>
                                <div class="item-inner" style="margin-top: 0px;">
                                    <div class="item-title-row">
                                        <div class="item-title">ShowRoom</div>
                                    </div>
                                    <div class="item-subtitle"></div>
                                </div>
                            </a>
                        </li> 
                                                                                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
